In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('Train.csv',index_col='ward')

In [3]:
df.head()

,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
ward,,,,,,,,,,,,,,,,,,,,,
41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,0.005750,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,0.007575,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,0.006686,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,0.005255,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,0.004985,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [4]:
df.columns

Index(['total_households', 'total_individuals', 'target', 'dw_00', 'dw_01',
       'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08', 'dw_09',
       'dw_10', 'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01', 'psa_02',
       'psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01', 'lln_00',
       'lln_01', 'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04', 'lan_05',
       'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11', 'lan_12',
       'lan_13', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03', 'pg_04',
       'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05', 'pw_06',
       'pw_07', 'pw_08', 'ADM4_PCODE', 'lat', 'lon', 'NL'],
      dtype='object')

In [5]:
df_dropped = df.drop(['dw_12', 'dw_13','lan_13','pw_07', 'pw_08','stv_01','car_01','lln_01','psa_01','psa_02','psa_03','psa_04'],axis=1)

In [6]:
df_dropped['water_community']=df_dropped.pw_02+df_dropped.pw_03+df_dropped.pw_04+df_dropped.pw_05+df_dropped.pw_06
df_dropped['not_black']=df_dropped.pg_01+df_dropped.pg_02+df_dropped.pg_03+df_dropped.pg_04
df_dropped['not_white']=df_dropped.pg_01+df_dropped.pg_02+df_dropped.pg_00+df_dropped.pg_04
df_dropped['Euro_lang']=df_dropped.lan_00+df_dropped.lan_01
df_dropped['person_per_household'] = df_dropped.total_individuals/df_dropped.total_households

In [7]:
df_dropped.columns

Index(['total_households', 'total_individuals', 'target', 'dw_00', 'dw_01',
       'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08', 'dw_09',
       'dw_10', 'dw_11', 'psa_00', 'stv_00', 'car_00', 'lln_00', 'lan_00',
       'lan_01', 'lan_02', 'lan_03', 'lan_04', 'lan_05', 'lan_06', 'lan_07',
       'lan_08', 'lan_09', 'lan_10', 'lan_11', 'lan_12', 'lan_14', 'pg_00',
       'pg_01', 'pg_02', 'pg_03', 'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02',
       'pw_03', 'pw_04', 'pw_05', 'pw_06', 'ADM4_PCODE', 'lat', 'lon', 'NL',
       'water_community', 'not_black', 'not_white', 'Euro_lang',
       'person_per_household'],
      dtype='object')

In [8]:
households = df_dropped[['dw_00',
       'dw_01', 'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08',
       'dw_09', 'dw_10', 'dw_11']]
languages = df_dropped[['lan_00', 'lan_01', 'lan_02',
       'lan_03', 'lan_04', 'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09',
       'lan_10', 'lan_11', 'lan_12', 'lan_14','Euro_lang']]
water = df_dropped[['pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04',
       'pw_05', 'pw_06']]
ethnicity = df_dropped[['pg_00', 'pg_01', 'pg_02',
       'pg_03', 'pg_04','not_black','not_white']]
education = df_dropped[['psa_00', 'psa_01',
       'psa_02', 'psa_03', 'psa_04']]

KeyError: "['psa_04', 'psa_01', 'psa_02', 'psa_03'] not in index"

In [ ]:
households.corr()

In [ ]:
languages.corr()

In [ ]:
water.corr()

In [ ]:
ethnicity.corr()

In [ ]:
education.corr()

In [ ]:
df_dropped.corr()['target'].sort_values(ascending=False).head(15)

In [ ]:
df_dropped.corr()['target'].sort_values(ascending=True).head(15)

In [ ]:
df_dropped.mean()

In [9]:
df_dropped.to_pickle('Train2.pkl')