In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('Train.csv',index_col='ward')

In [3]:
df.head()

,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
ward,,,,,,,,,,,,,,,,,,,,,
41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,0.005750,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,0.007575,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,0.006686,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,0.005255,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,0.004985,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [21]:
df.columns

Index(['total_households', 'total_individuals', 'target', 'dw_00', 'dw_01',
       'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08', 'dw_09',
       'dw_10', 'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01', 'psa_02',
       'psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01', 'lln_00',
       'lln_01', 'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04', 'lan_05',
       'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11', 'lan_12',
       'lan_13', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03', 'pg_04',
       'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05', 'pw_06',
       'pw_07', 'pw_08', 'ADM4_PCODE', 'lat', 'lon', 'NL'],
      dtype='object')

In [5]:
df_dropped = df.drop(['dw_12', 'dw_13','lan_13','pw_07', 'pw_08','stv_01','car_01','lln_01'],axis=1)

In [18]:
df_dropped['water_community']=df_dropped.pw_02+df_dropped.pw_03+df_dropped.pw_04+df_dropped.pw_05+df_dropped.pw_06
df_dropped['not_black']=df_dropped.pg_01+df_dropped.pg_02+df_dropped.pg_03+df_dropped.pg_04
df_dropped['not_white']=df_dropped.pg_01+df_dropped.pg_02+df_dropped.pg_00+df_dropped.pg_04
df_dropped['Euro_lang']=df_dropped.lan_00+df_dropped.lan_01
df_dropped['person_per_household'] = df_dropped.total_individuals/df_dropped.total_households

In [22]:
df_dropped.columns

Index(['total_households', 'total_individuals', 'target', 'dw_00', 'dw_01',
       'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08', 'dw_09',
       'dw_10', 'dw_11', 'psa_00', 'psa_01', 'psa_02', 'psa_03', 'psa_04',
       'stv_00', 'car_00', 'lln_00', 'lan_00', 'lan_01', 'lan_02', 'lan_03',
       'lan_04', 'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10',
       'lan_11', 'lan_12', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03',
       'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05',
       'pw_06', 'ADM4_PCODE', 'lat', 'lon', 'NL', 'water_community',
       'not_black', 'not_white', 'Euro_lang', 'person_per_household'],
      dtype='object')

In [8]:
households = df_dropped[['dw_00',
       'dw_01', 'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08',
       'dw_09', 'dw_10', 'dw_11']]
languages = df_dropped[['lan_00', 'lan_01', 'lan_02',
       'lan_03', 'lan_04', 'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09',
       'lan_10', 'lan_11', 'lan_12', 'lan_14','Euro_lang']]
water = df_dropped[['pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04',
       'pw_05', 'pw_06']]
ethnicity = df_dropped[['pg_00', 'pg_01', 'pg_02',
       'pg_03', 'pg_04','not_black','not_white']]
education = df_dropped[['psa_00', 'psa_01',
       'psa_02', 'psa_03', 'psa_04']]

In [9]:
households.corr()

,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,dw_07,dw_08,dw_09,dw_10,dw_11
dw_00,1.000000,-0.614702,-0.356335,-0.154956,-0.126421,-0.076181,-0.181262,-0.228804,-0.364130,-0.076239,-0.025813,-0.119659
dw_01,-0.614702,1.000000,0.000617,-0.075112,-0.112250,-0.095776,-0.099431,-0.236245,-0.223481,-0.102495,-0.009229,-0.016891
dw_02,-0.356335,0.000617,1.000000,0.199940,0.205096,0.015692,0.086548,-0.138369,-0.102479,0.104707,0.016612,-0.016776
dw_03,-0.154956,-0.075112,0.199940,1.000000,0.724167,0.026997,0.030068,-0.101747,-0.073226,0.088665,0.003593,-0.004090
dw_04,-0.126421,-0.112250,0.205096,0.724167,1.000000,0.023814,0.032962,-0.111346,-0.090086,0.077900,0.010481,-0.016858
dw_05,-0.076181,-0.095776,0.015692,0.026997,0.023814,1.000000,0.090361,0.057107,-0.009425,0.024883,0.000582,0.026353
dw_06,-0.181262,-0.099431,0.086548,0.030068,0.032962,0.090361,1.000000,0.188127,-0.037779,0.140110,-0.015078,0.001389
dw_07,-0.228804,-0.236245,-0.138369,-0.101747,-0.111346,0.057107,0.188127,1.000000,0.383494,-0.014181,-0.038155,0.025483
dw_08,-0.364130,-0.223481,-0.102479,-0.073226,-0.090086,-0.009425,-0.037779,0.383494,1.000000,0.001179,0.025008,0.030086
dw_09,-0.076239,-0.102495,0.104707,0.088665,0.077900,0.024883,0.140110,-0.014181,0.001179,1.000000,0.075266,0.015195
dw_10,-0.025813,-0.009229,0.016612,0.003593,0.010481,0.000582,-0.015078,-0.038155,0.025008,0.075266,1.000000,0.048042
dw_11,-0.119659,-0.016891,-0.016776,-0.004090,-0.016858,0.026353,0.001389,0.025483,0.030086,0.015195,0.048042,1.000000

In [10]:
languages.corr()

,lan_00,lan_01,lan_02,lan_03,lan_04,lan_05,lan_06,lan_07,lan_08,lan_09,lan_10,lan_11,lan_12,lan_14,Euro_lang
lan_00,1.000000,0.132408,-0.099351,-0.004755,-0.289190,-0.168466,-0.069850,-0.074826,-0.102339,-0.069690,-0.066412,-0.123310,0.080583,0.206178,0.873919
lan_01,0.132408,1.000000,-0.065034,-0.002805,-0.094170,-0.144927,-0.112851,-0.109947,-0.091286,-0.061568,-0.057046,-0.102076,0.292020,0.138091,0.597506
lan_02,-0.099351,-0.065034,1.000000,-0.070881,-0.048603,0.062696,-0.088599,-0.074532,-0.094242,-0.000437,-0.042764,-0.040034,0.013646,-0.060270,-0.112266
lan_03,-0.004755,-0.002805,-0.070881,1.000000,-0.122830,-0.160781,0.173245,-0.003625,0.193765,-0.069457,-0.066356,-0.080205,0.040942,0.022289,-0.005222
lan_04,-0.289190,-0.094170,-0.048603,-0.122830,1.000000,-0.291111,-0.246118,-0.327698,0.016225,-0.078955,-0.131522,-0.208190,-0.199403,-0.117638,-0.280131
lan_05,-0.168466,-0.144927,0.062696,-0.160781,-0.291111,1.000000,-0.165323,-0.153486,-0.252607,-0.054744,-0.047107,0.027371,0.007422,-0.071328,-0.207358
lan_06,-0.069850,-0.112851,-0.088599,0.173245,-0.246118,-0.165323,1.000000,-0.126008,0.683950,-0.077030,-0.072543,-0.095400,-0.084135,-0.018115,-0.111849
lan_07,-0.074826,-0.109947,-0.074532,-0.003625,-0.327698,-0.153486,-0.126008,1.000000,-0.028678,-0.089710,-0.076178,-0.088167,-0.015928,-0.063740,-0.114450
lan_08,-0.102339,-0.091286,-0.094242,0.193765,0.016225,-0.252607,0.683950,-0.028678,1.000000,-0.123387,-0.127277,-0.177310,-0.123788,-0.072975,-0.127556
lan_09,-0.069690,-0.061568,-0.000437,-0.069457,-0.078955,-0.054744,-0.077030,-0.089710,-0.123387,1.000000,-0.030720,0.001207,-0.029271,-0.037140,-0.086571
lan_10,-0.066412,-0.057046,-0.042764,-0.066356,-0.131522,-0.047107,-0.072543,-0.076178,-0.127277,-0.030720,1.000000,0.021314,0.088466,-0.015383,-0.081701
lan_11,-0.123310,-0.102076,-0.040034,-0.080205,-0.208190,0.027371,-0.095400,-0.088167,-0.177310,0.001207,0.021314,1.000000,0.016063,-0.063945,-0.149814
lan_12,0.080583,0.292020,0.013646,0.040942,-0.199403,0.007422,-0.084135,-0.015928,-0.123788,-0.029271,0.088466,0.016063,1.000000,0.142839,0.208394
lan_14,0.206178,0.138091,-0.060270,0.022289,-0.117638,-0.071328,-0.018115,-0.063740,-0.072975,-0.037140,-0.015383,-0.063945,0.142839,1.000000,0.234514
Euro_lang,0.873919,0.597506,-0.112266,-0.005222,-0.280131,-0.207358,-0.111849,-0.114450,-0.127556,-0.086571,-0.081701,-0.149814,0.208394,0.234514,1.000000

In [11]:
water.corr()

          pw_00     pw_01     pw_02     pw_03     pw_04     pw_05     pw_06
pw_00  1.000000 -0.342950 -0.541994 -0.503090 -0.411110 -0.335677 -0.475848
pw_01 -0.342950  1.000000 -0.285343 -0.307012 -0.285169 -0.226052 -0.298024
pw_02 -0.541994 -0.285343  1.000000  0.722132  0.483907  0.310824  0.061786
pw_03 -0.503090 -0.307012  0.722132  1.000000  0.612815  0.396520  0.140198
pw_04 -0.411110 -0.285169  0.483907  0.612815  1.000000  0.491046  0.201120
pw_05 -0.335677 -0.226052  0.310824  0.396520  0.491046  1.000000  0.240083
pw_06 -0.475848 -0.298024  0.061786  0.140198  0.201120  0.240083  1.000000

In [12]:
ethnicity.corr()

,pg_00,pg_01,pg_02,pg_03,pg_04,not_black,not_white
pg_00,1.000000,-0.618047,-0.388940,-0.743022,-0.310050,-1.000000,0.743022
pg_01,-0.618047,1.000000,0.017702,0.041576,0.200251,0.618047,-0.041576
pg_02,-0.388940,0.017702,1.000000,0.086643,0.102496,0.388940,-0.086643
pg_03,-0.743022,0.041576,0.086643,1.000000,0.173712,0.743022,-1.000000
pg_04,-0.310050,0.200251,0.102496,0.173712,1.000000,0.310050,-0.173712
not_black,-1.000000,0.618047,0.388940,0.743022,0.310050,1.000000,-0.743022
not_white,0.743022,-0.041576,-0.086643,-1.000000,-0.173712,-0.743022,1.000000

In [13]:
education.corr()

          psa_00    psa_01    psa_02    psa_03    psa_04
psa_00  1.000000 -0.887328 -0.033872 -0.204895  0.102555
psa_01 -0.887328  1.000000 -0.030321 -0.010796 -0.464922
psa_02 -0.033872 -0.030321  1.000000  0.242550 -0.036451
psa_03 -0.204895 -0.010796  0.242550  1.000000 -0.191987
psa_04  0.102555 -0.464922 -0.036451 -0.191987  1.000000

In [20]:
df_dropped.corr()['target'].sort_values(ascending=False).head(15)

target             1.000000
psa_00             0.782472
water_community    0.643754
pg_00              0.613346
not_white          0.583908
pw_06              0.470676
dw_01              0.458206
pw_02              0.442441
pw_03              0.440941
pw_04              0.389467
pw_05              0.349653
lon                0.347088
lan_05             0.275263
lan_04             0.232266
lan_11             0.210597
Name: target, dtype: float64

In [19]:
df_dropped.corr()['target'].sort_values(ascending=True).head(15)

pw_00              -0.754536
psa_01             -0.707506
car_00             -0.702831
stv_00             -0.664181
lln_00             -0.637835
Euro_lang          -0.626055
not_black          -0.613346
pg_03              -0.583908
NL                 -0.514398
lan_00             -0.507942
lan_01             -0.438704
dw_04              -0.385533
total_households   -0.374833
dw_03              -0.338137
lan_12             -0.325367
Name: target, dtype: float64

In [16]:
df_dropped.mean()

total_households      3665.281214
total_individuals    12869.130053
target                  24.507554
dw_00                    0.712196
dw_01                    0.092616
dw_02                    0.032043
dw_03                    0.006057
dw_04                    0.008665
dw_05                    0.006289
dw_06                    0.022375
dw_07                    0.039296
dw_08                    0.064586
dw_09                    0.006864
dw_10                    0.001112
dw_11                    0.007902
psa_00                   0.311268
psa_01                   0.526568
psa_02                   0.000541
psa_03                   0.033694
psa_04                   0.127929
stv_00                   0.225922
car_00                   0.250312
lln_00                   0.097637
lan_00                   0.097603
lan_01                   0.058684
lan_02                   0.029416
lan_03                   0.039983
lan_04                   0.284316
lan_05                   0.116772
lan_06                   0.108053
lan_07                   0.130673
lan_08                   0.004621
lan_09                   0.024319
lan_10                   0.024262
lan_11                   0.053985
lan_12                   0.012809
lan_14                   0.014503
pg_00                    0.862142
pg_01                    0.040938
pg_02                    0.018798
pg_03                    0.074429
pg_04                    0.003693
lgt_00                   0.836432
pw_00                    0.359691
pw_01                    0.329684
pw_02                    0.127555
pw_03                    0.041589
pw_04                    0.019655
pw_05                    0.011008
pw_06                    0.110818
lat                    -26.880740
lon                     28.666515
NL                      17.437560
water_community          0.310625
not_black                0.137858
not_white                0.925571
Euro_lang                0.156287
dtype: float64

In [23]:
df_dropped.to_pickle('Train2.pkl')